################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/Gambeling/.vs/Gambeling/v17/.suo
/Gambeling/BussinessLogic/Gambeling.DomainModels/bin/Debug/net6.0
/Gambeling/BussinessLogic/Gambeling.DomainModels/obj/Debug/net6.0/ref
/Gambeling/BussinessLogic/Gambeling.DomainModels/obj/Debug/net6.0/refint
/Gambeling/BussinessLogic/Gambeling.DomainModels/obj/Debug/net6.0/Gambeling.DomainModels.csproj.AssemblyReference.cache
/Gambeling/BussinessLogic/Gambeling.DomainModels/obj/Debug/net6.0/Gambeling.DomainModels.csproj.CopyComplete
*.cache
*.txt
*.dll
*.pdb
/Gambeling/BussinessLogic/Gambeling.DomainModels/obj/project.nuget.cache
/Gambeling/BussinessLogic/Gambeling.DomainModels/obj/project.assets.json
/Gambeling/BussinessLogic/Gambeling.DomainModels/obj/Gambeling.DomainModels.csproj.nuget.dgspec.json
/Gambeling/BussinessLogic/Gambeling.Services/bin/Debug/net6.0
/Gambeling/BussinessLogic/Gambeling.Services.Implementations.UnitTests/bin/Debug/net6.0
/Gambeling/BussinessLogic/Gambeling.Services.Implementations.UnitTests/obj/Debug/net6.0/Gambeling.Services.Implementations.UnitTests.csproj.AssemblyReference.cache
/Gambeling/BussinessLogic/Gambeling.Services.Implementations.UnitTests/obj/Debug/net6.0/Gambeling.Services.Implementations.UnitTests.csproj.CopyComplete
/Gambeling/DataAccess/Gambeling.Persistence.Implementations.UnitTests/bin/Debug/net6.0
/Gambeling/DataAccess/Gambeling.Persistence.Implementations.UnitTests/obj/Debug/net6.0/Gambeling.Persistence.Implementations.UnitTests.csproj.AssemblyReference.cache
*.CopyComplete
/Gambeling/Infrastracture/Infrastracture/bin/Debug/net6.0
/Gambeling/WebAPI/Gambeling.WebAPI/bin/Debug/net6.0
/Gambeling/WebAPI/Gambeling.WebAPI/obj/Debug/net6.0/staticwebassets
/Gambeling/WebAPI/Gambeling.WebAPI.DataTransfering/bin/Debug/net6.0
/Gambeling/WebAPI/Gambeling.WebAPI.DataTransfering/obj/Debug/net6.0
*.props
*.targets
/Gambeling/WebAPI/WebAPI.Tests/bin/Debug/net6.0
/Gambeling/.vs/Gambeling/DesignTimeBuild/.dtbcache.v2
