################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/Gambeling/.vs/Gambeling/v17/.suo
/Gambeling/BussinessLogic/Gambeling.DomainModels/bin/Debug/net6.0
/Gambeling/BussinessLogic/Gambeling.DomainModels/obj/Debug/net6.0/ref
/Gambeling/BussinessLogic/Gambeling.DomainModels/obj/Debug/net6.0/refint
/Gambeling/BussinessLogic/Gambeling.DomainModels/obj/Debug/net6.0/Gambeling.DomainModels.csproj.AssemblyReference.cache
/Gambeling/BussinessLogic/Gambeling.DomainModels/obj/Debug/net6.0/Gambeling.DomainModels.csproj.CopyComplete
*.cache
*.txt
*.dll
*.pdb
/Gambeling/BussinessLogic/Gambeling.DomainModels/obj/project.nuget.cache
/Gambeling/BussinessLogic/Gambeling.DomainModels/obj/project.assets.json
/Gambeling/BussinessLogic/Gambeling.DomainModels/obj/Gambeling.DomainModels.csproj.nuget.dgspec.json
/Gambeling/BussinessLogic/Gambeling.Services/bin/Debug/net6.0
/Gambeling/BussinessLogic/Gambeling.Services.Implementations.UnitTests/bin/Debug/net6.0
/Gambeling/BussinessLogic/Gambeling.Services.Implementations.UnitTests/obj/Debug/net6.0/Gambeling.Services.Implementations.UnitTests.csproj.AssemblyReference.cache
/Gambeling/BussinessLogic/Gambeling.Services.Implementations.UnitTests/obj/Debug/net6.0/Gambeling.Services.Implementations.UnitTests.csproj.CopyComplete
/Gambeling/DataAccess/Gambeling.Persistence.Implementations.UnitTests/bin/Debug/net6.0
/Gambeling/DataAccess/Gambeling.Persistence.Implementations.UnitTests/obj/Debug/net6.0/Gambeling.Persistence.Implementations.UnitTests.csproj.AssemblyReference.cache
*.CopyComplete
/Gambeling/Infrastracture/Infrastracture/bin/Debug/net6.0
/Gambeling/WebAPI/Gambeling.WebAPI/bin/Debug/net6.0
/Gambeling/WebAPI/Gambeling.WebAPI/obj/Debug/net6.0/staticwebassets
/Gambeling/WebAPI/Gambeling.WebAPI.DataTransfering/bin/Debug/net6.0
/Gambeling/WebAPI/Gambeling.WebAPI.DataTransfering/obj/Debug/net6.0
*.props
*.targets
/Gambeling/WebAPI/WebAPI.Tests/bin/Debug/net6.0
/Gambeling/.vs/Gambeling/DesignTimeBuild/.dtbcache.v2
/Gambeling/BussinessLogic/Gambeling.Persistence.Services/bin/Debug/net6.0/Gambeling.Persistence.Services.deps.json
/Gambeling/BussinessLogic/Gambeling.Persistence.Services/obj/Debug/net6.0/Gambeling.Persistence.Services.assets.cache
/Gambeling/BussinessLogic/Gambeling.Persistence.Services/obj/Debug/net6.0/Gambeling.Persistence.Services.csproj.AssemblyReference.cache
/Gambeling/BussinessLogic/Gambeling.Persistence.Services/obj/Gambeling.Persistence.Services.csproj.nuget.dgspec.json
/Gambeling/BussinessLogic/Gambeling.Persistence.Services/obj/project.assets.json
/Gambeling/BussinessLogic/Gambeling.Persistence.Services/obj/project.nuget.cache
/Gambeling/BussinessLogic/Gambeling.Services/obj/Debug/net6.0/Gambeling.Services.csproj.AssemblyReference.cache
/Gambeling/BussinessLogic/Gambeling.Services/obj/Gambeling.Services.csproj.nuget.dgspec.json
/Gambeling/BussinessLogic/Gambeling.Services/obj/project.assets.json
/Gambeling/BussinessLogic/Gambeling.Services/obj/project.nuget.cache
/Gambeling/BussinessLogic/Gambeling.Services.Implementations/bin/Debug/net6.0/Gambeling.Services.Implementations.deps.json
/Gambeling/BussinessLogic/Gambeling.Services.Implementations/obj/Debug/net6.0/Gambeling.Services.Implementations.assets.cache
/Gambeling/BussinessLogic/Gambeling.Services.Implementations/obj/Debug/net6.0/Gambeling.Services.Implementations.csproj.AssemblyReference.cache
/Gambeling/BussinessLogic/Gambeling.Services.Implementations/obj/Gambeling.Services.Implementations.csproj.nuget.dgspec.json
/Gambeling/BussinessLogic/Gambeling.Services.Implementations/obj/project.assets.json
/Gambeling/BussinessLogic/Gambeling.Services.Implementations/obj/project.nuget.cache
/Gambeling/DataAccess/Gambeling.DataAccessContext/bin/Debug/net6.0/Gambeling.DataAccessContext.deps.json
/Gambeling/DataAccess/Gambeling.DataAccessContext/obj/Debug/net6.0/Gambeling.DataAccessContext.assets.cache
/Gambeling/DataAccess/Gambeling.DataAccessContext/obj/project.nuget.cache
/Gambeling/DataAccess/Gambeling.DataAccessContext/obj/project.assets.json
/Gambeling/DataAccess/Gambeling.DataAccessContext/obj/Gambeling.DataAccessContext.csproj.nuget.g.targets
/Gambeling/DataAccess/Gambeling.DataAccessContext/obj/Gambeling.DataAccessContext.csproj.nuget.g.props
/Gambeling/DataAccess/Gambeling.DataAccessContext/obj/Gambeling.DataAccessContext.csproj.nuget.dgspec.json
/Gambeling/DataAccess/Gambeling.DataAccessContext/obj/Debug/net6.0/Gambeling.DataAccessContext.csproj.AssemblyReference.cache
/Gambeling/DataAccess/Gambeling.Persistence.Implementations/bin/Debug/net6.0/Gambeling.Persistence.Implementations.deps.json
/Gambeling/DataAccess/Gambeling.Persistence.Implementations/obj/Debug/net6.0/Gambeling.Persistence.Implementations.assets.cache
/Gambeling/DataAccess/Gambeling.Persistence.Implementations/obj/Debug/net6.0/Gambeling.Persistence.Implementations.csproj.AssemblyReference.cache
/Gambeling/DataAccess/Gambeling.Persistence.Implementations/obj/Gambeling.Persistence.Implementations.csproj.nuget.dgspec.json
/Gambeling/DataAccess/Gambeling.Persistence.Implementations/obj/Gambeling.Persistence.Implementations.csproj.nuget.g.props
/Gambeling/DataAccess/Gambeling.Persistence.Implementations/obj/Gambeling.Persistence.Implementations.csproj.nuget.g.targets
/Gambeling/DataAccess/Gambeling.Persistence.Implementations/obj/project.assets.json
/Gambeling/DataAccess/Gambeling.Persistence.Implementations/obj/project.nuget.cache
/Gambeling/.vs/Gambeling/v17/.futdcache.v2
/Gambeling/.vs/ProjectEvaluation/gambeling.metadata.v6.1
/Gambeling/.vs/ProjectEvaluation/gambeling.projects.v6.1
/Gambeling/WebAPI/Gambeling.WebAPI/obj/Debug/net6.0/Gambeling.WebAPI.assets.cache
/Gambeling/WebAPI/Gambeling.WebAPI/obj/Debug/net6.0/Gambeling.WebAPI.csproj.AssemblyReference.cache
*.BuildWithSkipAnalyzers
/Gambeling/WebAPI/Gambeling.WebAPI/obj/Gambeling.WebAPI.csproj.nuget.dgspec.json
/Gambeling/WebAPI/Gambeling.WebAPI/obj/Gambeling.WebAPI.csproj.nuget.g.props
/Gambeling/WebAPI/Gambeling.WebAPI/obj/project.assets.json
/Gambeling/WebAPI/Gambeling.WebAPI/obj/project.nuget.cache
